body{
  margin: 0;
}

.mainlogin{
  width: 100vw;
  height: 100vh;
  background-color: rgb(42, 32, 116);
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftlogin{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.leftlogin > h1{
  color: aquamarine;
}

.right-login{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background-color: rgb(35, 12, 184);
  border-radius: 20px;
}