/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

:root {
    --primary-font: "Yeseva One", serif;
    --color-dark-blue: #1F2B6C;
    --color-dark-hover: #1f2b6ca8;
    --color-blue-card-info: #2c3e50;
    --color-card-info: #7f8c8d;
    --color-background-card: #7dbeff25;
    --color-light-blue: #159EEC;
    --color-azul-calcinha: #BFD2F8;
    --color-dark-gray: #333;
  }

.img-servicos {
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container-servicos {
    width: 70%;
    margin-top: 2%;
    margin-left: 15%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards-section-servicos {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
    width: 100%;
}

.card-servico {
    background: var(--color-background-card);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 480px;
    max-width: 350px;
    min-width: 250px;
}

.image-servico {
    height: 220px;
    width: 100%;
    border-radius: 3px;
    object-fit: cover;
}

.card-servico:hover {
    transform: translateY(-5px);
}

.content-servico h3 {
    margin: 40px 0 10px;
    color: var(--color-dark-blue);
}

.content-servico p {
    color: #666;
    font-size: 14px;
}

.content-servico a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: var(--color-light-blue);
    font-weight: bold;
}

.content-servico a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 1024px) {
    .container-servicos {
        width: 85%;
    }

    .cards-section-servicos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .cards-section-servicos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .cards-section-servicos {
        grid-template-columns: 1fr;
    }
}

.image-servico .imgCard-servico {
    width: 100%;
    height: 220px;
    border-radius: 2px;
    object-fit: cover;
}
