.card-doutores {
  margin-left: 5%;
  margin-right: 5%;
}



.container-doutores {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.doctor-image {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.profile-button-doutores {
  background: #1F2B6C;
  color: #f2f7ff;
  border: none;
  padding: 10px;
  width: 100%;
  font-size: 14px;
  margin-top: 10px;
  transition: background 0.3s ease;
  border-radius: 0; /* Adicionado para deixar o botão quadrado */
}

.profile-button-doutores:hover {
  background-color: #1f2b6c8c;
}


.card-info-doutores {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background-color: #BFD2F8;
  width: 60%;
  margin: auto;
}

.card-info-doutores:hover {
  transform: scale(1.01);
}

.Doctor-Hover:hover{
  transform: scale(1.01);
  background-color: #1f2b6c8c;
}

.texto-doutores {
  margin-top: 20px;
  text-align: center;
  color: #1F2B6C;

}

.card-info-h3 {
  font-size: 38px;
}

.card-info-p {
  margin-top: -20px;
  font-size: 25px;
}