:root {
  --primary-font: "Yeseva One", serif;
  --color-dark-blue: #1F2B6C;
  --color-dark-hover: #1f2b6ca8;
  --color-blue-card-info: #2c3e50;
  --color-card-info: #7f8c8d;
  --color-background-card: #7dbeff25;
  --color-light-blue: #159EEC;
  --color-blue-contact: #0056b3;
  --color-light-hover: #81a7ff;
  --color-azul-calcinha: #BFD2F8;
  --color-top-gray: #4a4a4a;
  --color-dark-gray: #333;
}

/* General Styles */
.header {
  width: 100%;
}

/* Top Bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 40px;
  background-color: white;
  color: var(--color-top-gray);
  font-size: 14px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 15%;
}

.logo-img {
  width: 100%;
}

.contact-info {
  display: flex;
  gap: 20px;
  color: var(--color-blue-contact);
}

.info-item {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 50px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark-blue);
  padding: 15px 40px;
  color: white;
}

.nav-links a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  color: #ccc;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-icon {
  cursor: pointer;
}

.login-button {
  background-color: var(--color-azul-calcinha);
  border: none;
  padding: 8px 60px;
  border-radius: 30px;
  margin-right: 100px;
  color: var(--color-dark-blue);
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.login-button:hover {
  background-color: var(--color-light-hover);
}

.container-login-cadastro {
  display: flex;
}

.botao-login-cadastro{
  width: 200px;
}