.container-sobre-master {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.img-doutores-sobre {
    width: 100%;
}

.container-sobre {
    padding-left: 20px;
    text-align: start;
    justify-content: center;
    margin: auto;
}

.titulo-sobre {
    font-size: 20px;
    color: #159EEC;
}

.subTitulo-sobre {
    color: #1F2B6C;
    font-size: 50px;
}

.container-listas {
    display: flex;
}

.ul-container-listas {
    margin-left: 15px;
}

.li-container-listas {
    font-size: 25px;
    padding: 10px;
}

.texto-sobre {
    text-align: start;
    margin-top: 20px;
    font-size: 18px;
}

.container-texto-sobre {
    width: 600px;
    justify-content: center;
    margin-left: 20px;
}

.img-medicas-sobre {
    width: 500px;
}

.Banner-Baixo-Sobre {
    width: 100%;
    margin-top: 80px;
}