.Banner-Baixo-Sobre {
    width: 100%;
    margin-top: 80px;
}

.texto-banner-baixo-sobre {
    width: 850px;
    margin: auto;
    font-size: 30px;
    text-align: center;
    color: white;
}

.container-text {
    margin-top: -550px;
}

#linha {
    width: 15%;
    margin: auto;
    border-bottom: 3px solid #ffffff;
}

.linhaTop {
    margin-top: 30px;
}

#aspas {
    margin: 0;
    padding: 0;
    width: 30px;
    margin: auto;
    color: white;
    font-size: 150px;
}
